.modal-dialog
  .modal-content
    .modal-header
      button.close(type='button', ng-click='close()', aria-hidden='true') ×
      h4.modal-title Modal title
    .modal-body
      p One fine body…
    .modal-footer
      button.btn.btn-default(type='button', ng-click='close()') Close
      button.btn.btn-primary(type='button', ng-click='close()') Save changes
