#apartment-map-info-box-section.transparent-background-light
  h3 {{address}}
  .table-responsive
    table.table
      tbody
        tr
          td
            | {{bedroom_count}}
            .help-block Bed
          td
            | {{bathroom_count}}
            .help-block Bath
          tr
            td
              | {{price}}
              .help-block Price
            td
              | {{sqfeet}}
              .help-block Area
