@import "../base";

// Container Styles
// --------------------------------------------------

.section{
  border-bottom: 1px solid $nl-alt-container-bottom;
  @include box-shadow(0px 1px $nl-alt-container-bottom-shaddow);
}

.alt-section{
  @extend .section;
  background: $gray-lighter url('../images/bg/handmadepaper.png');
}

.web-app-body{
  border-bottom: none;
  padding-bottom: 150px;
}

.rounded-light-container{
  background-color: $body-bg;
  border-radius: $border-radius-large; // Only round corners at higher resolutions if contained in a container
}

// Map Container Styles
// --------------------------------------------------
.map-canvas {
  height: 400px;
  width: 100%;
  margin: 0;
  padding: 0
}
