@import "../base";

// Basic Type Styles
// --------------------------------------------------

p {
  color: $nl-gray;
  font-family: $nl-font-family-content;
}

.generated-info{
  white-space: pre-wrap;
  line-height: 18px;
}

.heavy-emphasis{
  font-weight: 900;
  text-decoration: underline;
}
