@import "../base";

#admin-container {
  #admin-section {
    margin-top: 70px;
    margin-bottom: 20px;
    padding-bottom: 20px;

    #emailer-sender-section {
      //- Responsive
      @media screen and (min-width: $screen-tablet) {
        #body {
          min-height: 330px;
        }
      }
    }
  }
}
