@import "../base";

@mixin apartment-detail() {
//- Responsive
  @media screen and (min-width: $screen-tablet) {
    border-right: black 1px solid;
    padding: 0;

    &:last-child {
      border-right: none;
    }
  }

  p {
    font-family: $nl-font-family-heading;
    color: $nl-less-dark;
    text-align: center;

    //- Responsive
    @media screen and (min-width: $screen-tablet) {
      font-size: ($font-size-base * 1.071428571428571);
    }

    &.help-block {
      text-transform: uppercase;
      color: $nl-less-bright;

      //- Responsive
      @media screen and (min-width: $screen-tablet) {
        font-size: ($font-size-base * 0.8571428571428571);
      }
    }
  }
}

#apartment-list-section {
  $result-list-height: 600px;

  #apartment-list {
    //- Responsive
    @media screen and (min-width: $screen-tablet) {
      max-height: $result-list-height;
      overflow-y: auto;
      overflow-x: hidden;
    }
    .page-header {
      margin: 0;
      &:hover,
      &:focus {
        cursor: pointer;
        background-color: rgba($nl-medium-bright, .1);
      }
    }

    .apartment-overview {
      .badge {
        //- Responsive
        @media screen and (min-width: $screen-tablet) {
          margin-top: 10px;
        }
        &.unkown {
          background-color: $brand-info;
        }
        &.available {
          background-color: $nl-less-bright;
        }
        &.unavailable {
          background-color: $brand-warning;
        }
      }
    }

    .apartment-details {

      .detail {
        @include apartment-detail();
      }
    }

    .apartment-context {
      //- Responsive
      @media screen and (min-width: $screen-tablet) {
        margin-top: 10px;
      }

      .badge {
        background-color: $nl-less-bright;
        width: 100%;
        padding: 4px 10px;
      }
    }
  }

  #map-list {
    .map-canvas {
      //- Responsive
      @media screen and (min-width: $screen-tablet) {
        height: $result-list-height;
      }
    }
  }
}

#apartment-map-info-box-section {
  @include box-shadow(0 0 8px #000);

  border-radius: 2px;

  border: 1px solid rgba(0, 0, 0, 0.6);

  //- Responsive
  @media screen and (min-width: $screen-tablet) {
    width: 232px;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    color: $nl-very-bright;
    background-color: $nl-very-dark;
    padding: 4px;
    font-weight: bold;

    //- Responsive
    @media screen and (min-width: $screen-tablet) {
      font-size: $font-size-base * 0.7857142857142857;
    }
  }

  table {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;

    .help-block {
      text-transform: uppercase;
      color: $nl-less-bright;
      margin-bottom: 0;
      //- Responsive
      @media screen and (min-width: $screen-tablet) {
        font-size: $font-size-base * 0.6428571428571429;
      }
    }

    tr:first-child {
      td {
        border-top: 0;
      }
    }

    td {
      border-left: 1px solid rgba(0, 0, 0, 0.2);
      width: 50%;
      &:first-child {
        border-left: 0;
      }
    }
  }
}

#apartment-popup-container {
  width: 100%;
  #apartment-popup-section {
    //- Responsive
    @media screen and (min-width: $screen-tablet) {
      width: 800px;
    }

    .detail {
      @include apartment-detail();
    }

    .page-header {
      margin-top: 0;
    }

    #apartment-full-information {
      h6 {
        font-size: $font-size-base;
      }
      i {
        color: $nl-less-bright;
      }
      .listing-link{
        @include hyphens();
      }

      #apartment-description {
        overflow: auto;
        //- Responsive
        @media screen and (min-width: $screen-tablet) {
          max-height: 300px;
        }
      }

      #apartment-verification {
        overflow: auto;
        //- Responsive
        @media screen and (min-width: $screen-tablet) {
          max-height: 300px;
        }
      }
    }
  }
}
