@import "../base";

footer#main-footer {
  padding: 20px 0px;
  background-color: $nl-very-dark;

  a {
    color: $nl-less-bright;
    &:hover,
    &:focus {
      color: darken($nl-less-bright, 15%);
    }
  }

  .copyright{
    padding-left: 5px;
    color: $nl-less-bright;
  }
}
