@import "base";

#home-container {
  .jumbotron {
    background: $nl-very-bright url('../images/zoom-8048950-3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    padding-top: 168px;
    padding-bottom: 168px;

    margin-bottom: 0;

    h1, h3 {
      color: $nl-very-bright;
      text-shadow: 0px 2px 18px #000, 0px -3px 6px #000;
    }

    h1 {
      margin-bottom: 50px;
      line-height: 120%;

      //- Responsive
      @media screen and (min-width: $screen-tablet) {
        font-size: ($font-size-base * 2.6);
      }
    }

    .price {
      color: $nl-medium-bright;
    }
  }
}
