@import "base";

#home-container {
  .jumbotron {
    h1 {
      color: $nl-very-bright;
      text-shadow: 0px 2px 25px $gray-dark;
      @media screen and (min-width: $screen-tablet) {
        font-size: ($font-size-base * 2.6);
      }
    }
  }
}
