@import "../base";

#search-wizard-container {
  #search-wizard-section {
    h1 {
      color: $nl-less-bright;

      //- Responsive
      @media screen and (min-width: $screen-tablet) {
        font-size: ($font-size-base * 2.142857142857143);
      }
    }

    .page-header {
      border-bottom: 0;
    }

    #progress-buttons {
      margin-top: 25px
    }

    //- Location screen
    #location-step {
      #search-info-message {
        a {
          color: $nl-less-dark;
        }
      }
      #map-help {
        margin-top: 5px;
      }
    }

    //- Description screen
    #description-step {
      #txt-description {
        min-height: 300px;
      }
    }

    //- General Details screen
    #general-details-step {
      .label-separator{
        text-align: center;
      }
    }

    //- Payment screen
    #payment-step {
      i.fa{
        margin-left: 5px;
        margin-right: 5px;
      }
      #payment-image {
        margin-right: 5px;
      }
    }
  }
}
