@import "base";

#search-wizard-container {
  #search-wizard-section {
    margin-top: 70px;
    margin-bottom: 20px;

    h1 {
      color: $nl-less-bright;

      //- Responsive
      @media screen and (min-width: $screen-tablet) {
        font-size: ($font-size-base * 2.142857142857143);
      }
    }

    .page-header {
      border-bottom: 0;
    }

    #progress-buttons {
      margin-top: 25px
    }

    //- Location screen
    #location-step {
      #search-info-message{
        a{
          color: $nl-less-dark;
        }
      }
      #map-help {
        margin-top: 50px;
      }
    }

    //- Description screen
    #description-step {
      #txt-description{
        min-height: 300px;
      }
    }
  }
}
