@import "../base";

#thank-you-container {
  #thank-you-section {
    a:link {
    	color: $calm-lime;
    }

    h1{
      margin-bottom: 40px;
    }

    #email-us{
      margin-top: 40px;
    }
  }
}
