@import "../base";

#thank-you-container {
  #thank-you-section {
    margin-top: 70px;
    margin-bottom: 20px;
    padding-bottom: 20px;

    a:link {
    	color: $calm-lime;
    }

    h1{
      margin-bottom: 40px;
    }

    #email-us{
      margin-top: 40px;
    }
  }
}
