ul.nav.navbar-nav
  li.dropdown
    a#themes.dropdown-toggle(data-toggle='dropdown', href='#')
      | Themes
      span.caret
    ul.dropdown-menu(aria-labelledby='themes')
      li
        a(tabindex='-1', href='../default/') Default
      li.divider
      li
        a(tabindex='-1', href='../amelia/') Amelia
      li
        a(tabindex='-1', href='../cerulean/') Cerulean
      li
        a(tabindex='-1', href='../cosmo/') Cosmo
      li
        a(tabindex='-1', href='../cyborg/') Cyborg
      li
        a(tabindex='-1', href='../flatly/') Flatly
      li
        a(tabindex='-1', href='../journal/') Journal
      li
        a(tabindex='-1', href='../readable/') Readable
      li
        a(tabindex='-1', href='../simplex/') Simplex
      li
        a(tabindex='-1', href='../slate/') Slate
      li
        a(tabindex='-1', href='../spacelab/') Spacelab
      li
        a(tabindex='-1', href='../united/') United
  li
    a(href='../help/') Help
  li
    a(href='http://news.bootswatch.com') Blog
  li(ng-class="getClass('/todo')")
    a(ng-href='/todo') todo
  li(ng-class="getClass('/view1')")
    a(ng-href='/view1') view1
  li(ng-class="getClass('/view2')")
    a(ng-href='/view2') view2
  li.dropdown
    a#download.dropdown-toggle(data-toggle='dropdown', href='#')
      | Download
      span.caret
    ul.dropdown-menu(aria-labelledby='download')
      li
        a(tabindex='-1', href='./bootstrap.min.css') bootstrap.min.css
      li
        a(tabindex='-1', href='./bootstrap.css') bootstrap.css
      li.divider
      li
        a(tabindex='-1', href='./variables.less') variables.less
      li
        a(tabindex='-1', href='./bootswatch.less') bootswatch.less
ul.nav.navbar-nav.navbar-right
  li
    a(href='http://builtwithbootstrap.com/', target='_blank') Built With Bootstrap
  li
    a(href='https://wrapbootstrap.com/?ref=bsw', target='_blank') WrapBootstrap
