//
// Nextlanding Variables
// --------------------------------------------------


// Brand Colors
// --------------------------------------------------

$broken-white: #F2F2F2;
$continuum: #C6E269;
$calm-lime: #90C567;
$heraklion: #227D7E;
$sea-jeans: #1B334E;

$nl-very-bright: $broken-white;
$nl-medium-bright: $continuum;
$nl-less-bright: $calm-lime;
$nl-less-dark: $heraklion;
$nl-very-dark: $sea-jeans;

$nl-gray: #666;


// Font
// --------------------------------------------------

$nl-font-family-heading:  Montserrat, Helvetica, Arial, sans-serif !default;
$nl-font-family-content:  "Open Sans", Helvetica, Arial, sans-serif !default;


// Container Colors
// --------------------------------------------------
$nl-alt-container-bottom: #c0ccd7;
$nl-alt-container-bottom-shaddow: #ecf0f3;
