#result-apartment-map-info-box-section
  h3 hey
  .table-responsive
    table.table
      tbody
        tr
          td
            | 1 - 10br
            .help-block Bed
          td
            | 1 - 12ba
            .help-block Bath
          tr
            td
              | $0 - $1990
              .help-block Price
            td
              | 0 - 3000 sqft.
              .help-block Area
