#result-list-apartment-container
  #result-list-apartment-section(ng-controller='ResultListApartmentsCtrl').container.rounded-light-container.web-app-padding
    ng-include(src="'/_public/js/apartment/apartment-list.html'")
