#emailer-sender-section(ng-controller='AdminEmailerSenderCtrl').container.rounded-light-container
  fieldset
    legend Emailer Sender
    .row
      .col-md-6
        form(name='emailerSenderForm', novalidate).form-horizontal
          .form-group
            label.col-md-3.control-label(for='from-name') From name
            .col-md-9
              input#from-name.form-control(name='from-name', type='text', placeholder='', required='', ng-model="model.from_name")
          .form-group
            label.col-md-3.control-label(for='subject') Subject
            .col-md-9
              input#subject.form-control(name='subject', type='text', placeholder='', required='', ng-model="model.subject")
          .form-group
            label.col-md-3.control-label(for='body') body
            .col-md-9
              textarea#body.form-control(name='body', required, ng-model="model.body")
          .form-group
            .col-md-9.col-md-offset-3
              button.btn.btn-primary(ng-click='settings.sendEmails()',type='button',ng-disabled='emailerSenderForm.$invalid || settings.emailsPending') Send
      .col-md-6
        .well
          p(ng-bind="model.search_description")
