#about-us-container
	#about-us-section.container.rounded-light-container.web-app-padding
		h1 About Us
		p Renting an apartment is a chaotic experience.
		p Tenants have to contend with fraud, spam, unresponsive landlords, bait-and-switch tactics, unavailable apartments, and much more.
		p We believe that the biggest problem is good, accurate, reliable data about apartments: what’s actually on the rental market, for how much, for how long, where, and with what amenities.
		p We know that tenants want the full, accurate picture: everything that’s really available, with as much information about each apartment as possible. That’s why we’re building NextLanding—a comprehensive, accurate, up-to-date apartment search platform—to end the chaos of renting apartments. We’re been launched since late 2012, primarily in New York, but are experimenting with how we can best help tenants throughout the country.
		#team-section	
			h4.text-center The Team Behind NextLanding
			#person.row
				img.col-md-4.col-md-offset-2(src='/images/SC-HS.jpg')
				.col-md-4
					h5 Scott Coates: CTO & Co-Founder
					p Scott is a software development and all-around geek who has been working as a professional software developer since high school. Prior to NextLanding, he worked at various software development companies as a software architect, managing teams responsible for multi-million dollar software deployments and, in one case, improving the identification of improperly paid health insurance claims by 300%, resulting in millions of dollars in added revenue. When not crunching code, he can be found crunching code, skateboarding, and playing in his 
						a(href="http://maximise.bandcamp.com/") way-cool band
						|.
			#person.row
				img.col-md-4.col-md-offset-2(src='/images/John.jpg')
				.col-md-4
					h5 John Errico: CEO & Co-Founder
					p John is an attorney-turned-entrepreneur who graduated from Yale with a degree in History and from Cornell Law with a JD and LLM in International Law. Before NextLanding, John worked as a judicial law clerk for a justice at the Arizona Supreme Court and managed a small business helping students find off campus housing in Ithaca, New York. If you’re uncommonly bored, you can check out an 
						a(href="http://www.lawschool.cornell.edu/research/ILJ/upload/Errico-final.pdf") article he published about international law
						|. When he’s not helping people find apartments, he enjoys playing the bagpipes for his 2 goldendoodles, and traveling around the world.
			#person.row
				img.col-md-4.col-md-offset-2(src='/images/gene.jpg')
				.col-md-4
					h5 Gene Sussman: COO & Co-Founder
					p Gene is a former political operative and serial entrepreneur from Yale with a degree in History. Prior to NextLanding, he worked in the war room for a presidential candidate in the 2008 election cycle, and then worked with Sudipta on marketing and customer acquisition at GroupTracks. In his spare time, he masquerades around the country as a scotch/whiskey connoisseur.
