footer#main-footer(ng-class="{'navbar hidden':state.current.data.style.webAppStyle}")
  .container
    .row
      .col-md-6
        ul.footer-menu.list-unstyled.list-inline
          li
            a(ui-sref="tos") Terms of Service
          li
            a(href="mailto:{{contactEmailAddress}}") Contact Us
        .copyright
          | {{currentDate | date:'yyyy'}} © Nextlanding. All rights reserved.
      .col-md-6
        ul.footer-social.list-unstyled.list-inline.pull-right
          li
            a(href='https://www.facebook.com/nextlanding')
              i.fa.fa-facebook
          li
            a(href='https://twitter.com/nextlanding')
              i.fa.fa-twitter
          li
            a(href='http://www.linkedin.com/company/nextlanding')
              i.fa.fa-linkedin
