footer#main-footer(ng-class="{'navbar navbar-default navbar-fixed-bottom':state.current.data.style.webAppStyle}")
  .container
    .row
      .col-md-6
        ul.footer-menu.list-unstyled.list-inline
          li
            a(ui-sref="contact") Privacy Policy
          li
            a(ui-sref="contact") Terms of Service
          li
            a(ui-sref="contact") Contact Us
        .copyright
          | {{currentDate | date:'yyyy'}} © {{productName}}. All rights reserved.
      .col-md-6
        ul.footer-social.list-unstyled.list-inline.pull-right
          li
            a(ui-sref="contact")
              i.fa.fa-facebook
          li
            a(ui-sref="contact")
              i.fa.fa-twitter
          li
            a(ui-sref="contact")
              i.fa.fa-dribbble
          li
            a(ui-sref="contact")
              i.fa.fa-linkedin
          li
            a(ui-sref="contact")
              i.fa.fa-google-plus
