footer#main-footer(ng-class="{'navbar navbar-default navbar-fixed-bottom':state.current.data.style.webAppStyle}")
  .container
    .row
      .col-md-6
        ul.footer-menu.list-unstyled.list-inline
          li
            a(href='#') Privacy Policy
          li
            a(href='#') Terms of Service
          li
            a(href='#') Contact Us
        .copyright
          | {{currentDate | date:'yyyy'}} © SquareSpectrum. All rights reserved.
      .col-md-6
        ul.footer-social.list-unstyled.list-inline.pull-right
          li
            a(href='#')
              i.fa.fa-facebook
          li
            a(href='#')
              i.fa.fa-twitter
          li
            a(href='#')
              i.fa.fa-dribbble
          li
            a(href='#')
              i.fa.fa-linkedin
          li
            a(href='#')
              i.fa.fa-google-plus
