#home-container(ng-controller='HomeCtrl')
  .jumbotron
    .container
      h1 Gain Access to All Open Listings
      h3 The most comprehensive collection of rental listings in real-time.
      .row
        form.col-md-7(name='signupForm',ng-submit='startSearch()')
          .row
            #signup-form.parent-form.form-horizontal(role='form')
              .form-group
                label.col-md-2.control-label(for='price-min') First
                .input-group.col-md-4
                  input#price-min.form-control(type='text',required,ng-model='model.firstName')
                label.col-md-2.control-label(for='price-min') Last
                .input-group.col-md-4
                  input#price-min.form-control(type='text',required,ng-model='model.lastName')
              .form-group
                label.col-md-2.control-label(for='price-min') Email
                .input-group.col-md-4
                  input#price-min.form-control(type='email',required,ng-model='model.emailAddress')
                label.col-md-2.control-label(for='price-min') Phone
                .input-group.col-md-4
                  input#price-min.form-control(type='text',ng-model='model.phoneNumber')
          .row
            #signup-button-container.col-md-12
              button.btn.btn-primary.pull-right(type='submit', ng-disabled='signupForm.$invalid') Continue
        .col-md-4.col-md-offset-1
          img.img-responsive(src='/images/ad-mobile.png')

  section.alt-section
    .container
      #value-props-section.page-header
        .row
          .col-md-6
            .row
              .col-md-12
                h2 Save Time and Money
                p
                  | {{productName}} integrates seamlessly with your business, getting you up to speed and in control in no time.
            .row
              .col-md-12
                h2 Close Leads Faster
                p
                  | We allow you to track leads throughout the entire sale cycle, from any place, at any time.
            .row
              .col-md-12
                h2 Constant Updates
                p
                  | Cut down the amount of time spent posting ads to numerous sources. Get back to closing and the things that really matter.

          .col-md-5.col-md-offset-1
            img.img-responsive(src='/images/sq-features-graph.png')
  section.section
    .container
      #best-stuff-section.page-header
        h4.text-center We've worked with folks at:
        img.img-responsive(src='/images/best-stuff-brokerage-ad-analytics.png')
        .row.call-to-action
          form.col-md-7.col-md-offset-3.parent-form(name='signupForm',ng-submit='startSearch()')
            .row
              #signup-form.parent-form.form-horizontal(role='form')
                .form-group
                  label.col-md-2.control-label(for='price-min') First
                  .input-group.col-md-4
                    input#price-min.form-control(type='text',required,ng-model='model.firstName')
                  label.col-md-2.control-label(for='price-min') Last
                  .input-group.col-md-4
                    input#price-min.form-control(type='text',required,ng-model='model.lastName')
                .form-group
                  label.col-md-2.control-label(for='price-min') Email
                  .input-group.col-md-4
                    input#price-min.form-control(type='email',required,ng-model='model.emailAddress')
                  label.col-md-2.control-label(for='price-min') Phone
                  .input-group.col-md-4
                    input#price-min.form-control(type='text',ng-model='model.phoneNumber')
            .row
              #signup-button-container.col-md-12
                button.btn.btn-primary.pull-right(type='submit', ng-disabled='signupForm.$invalid') Continue
