#home-container(ng-controller='HomeCtrl')
  .jumbotron
    .container
      .heading-text.rounded-light-container
        .text-center
          h1 All Available Listings. One Click Away.
          h3 The most comprehensive set of verified rental listings in real-time.
        .row
          form.col-md-7.col-md-offset-3(name='signupForm',ng-submit='startSearch()')
            .row
              #signup-form.parent-form.form-horizontal(role='form')
                .form-group
                  label.col-md-2.control-label(for='first') First
                  .input-group.col-md-4
                    input#first.form-control(type='text',required,ng-model='model.firstName')
                  label.col-md-2.control-label(for='last') Last
                  .input-group.col-md-4
                    input#last.form-control(type='text',required,ng-model='model.lastName')
                .form-group
                  label.col-md-2.control-label(for='email') Email
                  .input-group.col-md-4
                    input#email.form-control(type='email',required,ng-model='model.emailAddress')
                  label.col-md-2.control-label(for='phone') Phone
                  .input-group.col-md-4
                    input#phone.form-control(type='text',ng-model='model.phoneNumber')
            .row
              #signup-button-container.col-md-12
                button.btn.btn-primary.pull-right(type='submit', ng-disabled='signupForm.$invalid') Continue

  section.alt-section
    .container
      #value-props-section.page-header
        .row
          .col-md-6
            .row
              .col-md-12
                h2 Save Time and Money
                p
                  | Get a snapshot of your city's current listing inventory in real-time. No more scouring the web and making endless phone calls just to put a finger on the pulse.
            .row
              .col-md-12
                h2 Close Leads Faster
                p
                  | Have client looking for that perfect two-bedroom brownstone? Use our extensinve listing database to quickly find the perfect unit.
            .row
              .col-md-12
                h2 Constant Updates
                p
                  | {{productName}} constantly monitors the market and notifies you when relevent changes occur. Get updates about new listings, closes, expirations, price changes, and more.

          .col-md-5.col-md-offset-1
            img.img-responsive(src='/images/listing-database-ui.png')
  section.section
    .container
      #best-stuff-section.page-header
        h4.text-center We've worked with folks at:
        img.img-responsive(src='/images/best-stuff-brokerage-ad-analytics.png')
        .row.call-to-action
          form.col-md-7.col-md-offset-3.parent-form(name='signupForm',ng-submit='startSearch()')
            .row
              #signup-form.parent-form.form-horizontal(role='form')
                .form-group
                  label.col-md-2.control-label(for='first2') First
                  .input-group.col-md-4
                    input#first2.form-control(type='text',required,ng-model='model.firstName')
                  label.col-md-2.control-label(for='last2') Last
                  .input-group.col-md-4
                    input#last2.form-control(type='text',required,ng-model='model.lastName')
                .form-group
                  label.col-md-2.control-label(for='email2') Email
                  .input-group.col-md-4
                    input#email2.form-control(type='email',required,ng-model='model.emailAddress')
                  label.col-md-2.control-label(for='phone2') Phone
                  .input-group.col-md-4
                    input#phone2.form-control(type='text',ng-model='model.phoneNumber')
            .row
              #signup-button-container.col-md-12
                button.btn.btn-primary.pull-right(type='submit', ng-disabled='signupForm.$invalid') Continue
