#home-container(ng-controller='HomeCtrl')
  .jumbotron
    .container
      h1
        span.br-md Save Dozens of Hours
        span  on Your Apartment Search
      .row
        form.form-inline(role='form',ng-submit='startSearch()')
          .form-group.col-md-4.input-group-lg
            label.sr-only(for='search-location') Search Location
            input#search-location.form-control(type='text',ng-model='model.search.search_attrs.specified_location', placeholder='Where do you want to live?')
          .col-md-2
            button.btn.btn-primary.btn-lg(type='submit') Search

      h3 Guaranteed results for <span class='price'>${{searchPrice}}</span> or your money back.

  section.alt-section
    .container
      #value-props-section.page-header
        .row
          .col-md-4
            h2.text-center Comprehesive
            img.img-responsive(src='/images/home-globe.png')
            p
              | We pull in listings from everywhere so you don’t miss any leads.
          .col-md-4
            h2.text-center Accurate
            img.img-responsive(src='/images/home-puzzle.png')
            p
              | We check availability and accuracy of every listing so you don’t have to.
          .col-md-4
            h2.text-center Easy
            img.img-responsive(src='/images/home-key.png')
            p
              | Verified results within 24 hours. No spam, just that fastest way to your new home.
  section.section
    .container
      #hil-section.page-header
        h3.text-center How it Looks
        .row
          #quick-info-heading.col-md-4
            h4 Quick Info
            p See all of your listings including personalized info like availability, broker fee, and how closely the listing matches your criteria.
          #map-interface-heading.col-md-4.col-md-offset-3
            h4 Map Interface
            p Choose an area or draw on the map to show where you want to live. We pinpoint each listing because location is key in choosing your new home.
        .row
          #how-it-looks-img.col-md-12
            img.img-responsive(src='/images/how-it-looks.jpg')
        .row
          #convo-starter-heading.col-md-4.col-md-offset-2
            h4 Convo Starter
            p We save you time by contacting each listing for you. When you open up your search you will have your questions answered and even appointments ready to go.
          #listing-info-heading.col-md-4
            h4 In-Depth Listing Info
            p Check on all the specs of the listings you like. We show you all info including amenities, conversations, and duplicate listings across all sites.
  section.alt-section
    .container
      #customers-section.page-header
        h4.text-center Thousands of Happy Customers
        .row
          .col-md-4
            p
              | So far the site is awesome. I’ve already found a couple apts I’m going to check out, it’s great to get a feel for what’s <b>really</b> out there.
            img.img-responsive.img-circle(src='/images/dave-pratt.jpg')
            h4.text-center Dave Pratt
          .col-md-4
            p
              | I loved that you contacted all listings so I didn’t miss any. I’ve now found my apartment, but I will definitley use Nextlanding when I search again.
            img.img-responsive.img-circle(src='/images/amanda-baker.jpg')
            h4.text-center Amanda Baker
          .col-md-4
            p
              | It’s so nice to know that in a span of 24 hours I can move onto greener pastures without wasting any more time.
            img.img-responsive.img-circle(src='/images/jennifer-davies.jpg')
            h4.text-center Jennifer Davies
  section.section
    .container
      #best-stuff-section.page-header
        h4.text-center Nextlanding helps relocate folks at:
        ul.row.list-unstyled
          li.col-md-2.col-md-offset-2
            img#google-best-stuff.img-responsive(src='/images/best-stuff-google.png')
          li.col-md-4
            img#nyt-best-stuff.img-responsive(src='/images/best-stuff-nyt.png')
          li.col-md-2
            img#lifehacker-best-stuff.img-responsive(src='/images/best-stuff-lifehacker.png')
        .row
          .call-to-action
            form.form-inline(role='form',ng-submit='startSearch()')
              .form-group.col-md-10
                label.sr-only(for='search-location') Search Location
                input#search-location.form-control(type='text',ng-model='model.search.search_attrs.specified_location', placeholder='Where do you want to live?')
              .col-md-2
                button.btn.btn-primary(type='submit') Search
