#home-container(ng-controller='HomeCtrl')
  .jumbotron
    .container
      h1.text-center Track Which Ad Sources Actually Make Sales
      h3.text-center Real estate analytics so you know which ad sources truly work.
      .row
        form.col-md-7(name='signupForm',ng-submit='startSearch()')
          .row
            #signup-form.parent-form.form-horizontal(role='form')
              .form-group
                label.col-md-2.control-label(for='first') First
                .input-group.col-md-4
                  input#first.form-control(type='text',required,ng-model='model.firstName')
                label.col-md-2.control-label(for='last') Last
                .input-group.col-md-4
                  input#last.form-control(type='text',required,ng-model='model.lastName')
              .form-group
                label.col-md-2.control-label(for='email') Email
                .input-group.col-md-4
                  input#email.form-control(type='email',required,ng-model='model.emailAddress')
                label.col-md-2.control-label(for='phone') Phone
                .input-group.col-md-4
                  input#phone.form-control(type='text',ng-model='model.phoneNumber')
          .row
            #signup-button-container.col-md-12
              button.btn.btn-primary.pull-right(type='submit', ng-disabled='signupForm.$invalid') Continue
        .col-md-4.col-md-offset-1
          img.img-responsive(src='/images/ad-mobile.png')

  section.alt-section
    .container
      #value-props-section.page-header
        .row
          .col-md-6
            .row
              .col-md-12
                h2 Close More Leads
                p
                  | {{productName}} Path® helps you to track leads throughout the entire sales cycle. Find out who closes and what works in real-time.
            .row
              .col-md-12
                h2 Spend Wisely
                p
                  | Save money by targeting channels that work and avoiding sources that don't. Manage your wallet by utilizing ads that have big returns.
            .row
              .col-md-12
                h2 Time Management
                p
                  |  Cut down the amount of time spent posting ads to numerous sources. Get back to closing and the things that really matter.

          .col-md-5.col-md-offset-1
            img.img-responsive(src='/images/sq-features-graph.png')
  section.section
    .container
      #best-stuff-section.page-header
        h4.text-center We've worked with folks at:
        img.img-responsive(src='/images/best-stuff-brokerage-ad-analytics.png')
        .row.call-to-action
          form.col-md-7.col-md-offset-3.parent-form(name='signupForm',ng-submit='startSearch()')
            .row
              #signup-form.parent-form.form-horizontal(role='form')
                .form-group
                  label.col-md-2.control-label(for='first2') First
                  .input-group.col-md-4
                    input#first2.form-control(type='text',required,ng-model='model.firstName')
                  label.col-md-2.control-label(for='last2') Last
                  .input-group.col-md-4
                    input#last2.form-control(type='text',required,ng-model='model.lastName')
                .form-group
                  label.col-md-2.control-label(for='email2') Email
                  .input-group.col-md-4
                    input#email2.form-control(type='email',required,ng-model='model.emailAddress')
                  label.col-md-2.control-label(for='phone2') Phone
                  .input-group.col-md-4
                    input#phone2.form-control(type='text',ng-model='model.phoneNumber')
            .row
              #signup-button-container.col-md-12
                button.btn.btn-primary.pull-right(type='submit', ng-disabled='signupForm.$invalid') Continue
