#hiw-container
 #hiw-section
  .jumbotron
    .header-container
     h2 Nextlanding makes
      br 
      |your apartment search easy.
  .steps-container
   #steps
    .inner
     #circle-1.circle(style="top:-110px;")
     .connection1(style="top:-110px;height:338px;")
     .circle(style="top:-124px;")
      |1
     .connection1(style="height:280px;top:-124px;")
     .circle(style="top:-124px;")
      |2
     .connection1(style="height:280px;top:-124px;")
     .circle(style="top:-124px;")
      |3
     .connection1(style="height:280px;top:-124px;")
     .circle(style="top:-124px;")
      |4
   #rows
    .section
     .content
      .left 
       h3 Tell us where you want to live.
       p We have listings from hundreds of sources, but each search is custom. You just let us know what you are looking for we take care of the rest.
       p.tip Old Way: Search basic parameters and be forced to go through each listings for more information.
      .right
       img.img-responsive(src='/images/girl-list.png')
    .alt-section
     .content
      .left 
       h3 We find all possible listings.
       p We give you the most comprehensive search possible to find every listing that may fall inside your parameters. Rest assured you don’t miss any opportunity.
       p.tip Old Way: You spend hours search many different apartment listing sites always worried about missing the perfect place.
      .right
       img.img-responsive(src='/images/magnifying-glass.png')
    .section
     .content
      .left 
       h3 We verify for accuracy.
       p We contact each listing to ensure it has all of the attributes you want, and it is still available. No need to waste time with bad listings.
       p.tip Old Way: You contact every listing by hand to see if it is still available and has the right amenities. Hours wasted!
      .right
       img.img-responsive(src='/images/house-phone.png')
    .alt-section
     .content
      .left 
       h3 View the best listings available.
       p You’ll easily see which listings are available and best match your search, saving you tons of time and helping you stop searching and start moving.
       p.tip Old Way: Spend 20-30 hours or 75% of your search trudging through online listings rather than actually viewing apartments.
      .right
       img.img-responsive(src='/images/house-medal.png')
    .section
     .content
      .left-bottom
       a(ui-sref="search")
        button.btn.btn-primary.btn-lg Start Your Search
      .right-bottom
       h3 Our Guarantee to You:
       p We guarantee that our information is accurate and that you'll find a place using Nextlanding, or we will completely refund your purchase.
       p E-mail us at info@nextlanding.com with any questions, comments, or concerns
