nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href='../') {{productName}}
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
        span.icon-bar
        span.icon-bar
        span.icon-bar
    #navbar-main.navbar-collapse.collapse
      ul.nav.navbar-nav
        li
          a(ui-sref="contact") How it Works
        li
          a(ui-sref="contact") Blog
        li(ng-class="getClass('/todo')")
          a(ui-sref="contact") Neighborhoods
        li(ng-class="getClass('/view1')")
          a(ui-sref="contact") Pricing
      ul.nav.navbar-nav.navbar-right
        li
          a(ui-sref="contact") Get Started
        li
          a(ui-sref="contact") Login
