#thank-you-container(ng-controller='ContractCtrl')
  #thank-you-section.container.rounded-light-container.text-center
    h1 Thank you for expressing your interest in {{productName}}!
    h4 Right now we are finding all possible listings and verifying them for accuracy.
    h4 You will get your verified results within 24 hours.
    h4#email-us Email us at&nbsp;
      a(href="mailto:{{contactEmailAddress}}") {{contactEmailAddress}}&nbsp;
      | with any questions, comments, or concerns.
