#thank-you-container(ng-controller='ContractCtrl')
  #thank-you-section.container.rounded-light-container.text-center
    h1 Thank you for expressing your interest in {{productName}}!
    h4 Excuse us, but we're not quite done with this part of the website.
    h4#email-us  Email us at&nbsp;
      a(href="mailto:{{contactEmailAddress}}") {{contactEmailAddress}}&nbsp;
      | , we'd be happy to chat and setup a free demo!
