#thank-you-container
  #thank-you-section.container.rounded-light-container
    h1 Thank you for creating your search!
    h4 Right now we are finding all possible listings and verifying them for accuracy.
    h4 You will get your verified results within 24 hours.
    br
    h4 Email us at <a href="info@nextlanding.com"> info@nextlanding.com</a> with any questions, comments, or concerns.
