#tos-container
 #tos-section.container.rounded-light-container.web-app-padding
  h2 Terms of Service
  p 1. You and Nextlanding
  p
      | 1.1 The following terms and conditions (“Terms of Use”) apply to your use of Nextlanding’s services, websites, and
      | technology (collectively, our “Services”). Our technology includes any technology, digital or otherwise, used in
      | furtherance of our mission to connect lessors and sellers of real property with potential tenants and buyers.
      | “Nextlanding” means Nextlanding, Inc., organized under the laws of Delaware. This document explains the terms of the
      | agreement entered into between you and Nextlanding when you use our Services. The Terms of Use form a legally
      | binding agreement between you and Nextlanding when you use our Services, and it is therefore important to read this
      | document carefully.
    p
      | 1.1 In some cases, we and other users of our Services may enter into separate agreements in writing providing
      | different or additional terms, incorporating these Terms of Use by reference. If there is any contradiction between
      | terms in a separate agreement and the Terms of Use, the terms in the separate agreement will take precedence.
    p 1.2 You can accept these Terms of Use by:
    p
      | (a) Clicking “Accept” or “Agree” to the Terms where this option is made available to you in connection with the use
      | of any of our Services; or
    p
      | (b) by using our Services in any way (using our Services includes, but is not limited to, browsing our websites or
      | technological applications as they might appear in any form, creating or maintaining a user account of any kind,
      | paying or receiving money in connection with our Services, or using our websites to contact us or a third party);
      | or
    p
      | (c) by manifesting any other action indicating your acceptance of these Terms of Use.
    p
      | 1.3 You may not use our Services or accept these Terms of Use if you are (a) not of the legal age to form a binding
      | contact with Nextlanding, or (b) are otherwise unable to or are barred from entering into a binding contract with
      | Nextlanding under the laws of the jurisdiction in which you are a resident, from which you are using the Services,
      | from which the Services are being provided to you, or the United States.
    p 2. Changes to Services
    p
      | 2.1 Nextlanding continually attempts to improve your experience with our Services. This means that sometimes our
      | Services may change, or certain aspects of our Services may be removed entirely, without prior notice to you.
    p
      | 2.2 You therefore agree that Nextlanding may change or cancel any aspect of our Services to you at Nextlanding’s
      | sole discretion and without prior notice to you. This means that some or all of Nextlanding’s functionality could be
      | discontinued at any time without prior notice.
    p 2.3 You may stop using our Services at any time, without prior notice to us.
    p 3. Use of Services
    p
      | 3.1 Users may be assessed a fee to use our services. This fee is set at our discretion and may change without prior
      | notice to Tenant users.
    p
      | 3.3 In connection with using our Services, users may be asked to furnish personal information, such as
      | identification and contact details, as part of a registration process or the continued use of our Services. Users
      | agree that any information furnished by a user in this manner will always be accurate and correct.
    p
      | 3.4 Users agree to use our Services solely for personal, housing-related purposes only. Tenant users may print,
      | download, or otherwise copy material provided via our Services for these purposes. Non-exclusive examples of
      | prohibited uses of our Services by users include:
    p
      | (a) Using our Services to market any products or services to any other users of our Services or any third party.
      | This includes using our Services to make duplicate or substantially similar records of our advertisements, listings,
      | or records in any form (including but not limited to any online medium) at any time, with the purpose of replicating
      | any of the functionality of our Services to any third party, or redistributing or republishing this material. For
      | example, a user is not permitted to copy any of our listings and display them on any other website accessible to the
      | public, even if these listings are repurposed, modified, reformatted, annotated, or combined with other information
      | gleamed from other sources.
    p
      | (b) Using our Services with the intent of modifying, verifying, or compiling records of any kind in connection with
      | the assessment of property or any other municipal taxes by any taxation authority, its employees, or its agents.
    p
      | (c) Using our Services with the intent of, attempting, or resulting in, the harassment or causing of any harm,
      | including denial of services attacks, to us, any users, or any third party.
    p
      | (d) Using our Services with the intent of, attempting, or resulting in, the defrauding or misrepresentation of any
      | fact causing any harm to us, any users, or any third party.
    p 4. General Provisions Governing Use
    p
      | 4.1 In addition to the previously enumerated provisions, the following provisions in provision section 4 apply to
      | all users of our Services. Users may not:
    p
      | (a) Circumvent or manipulate our fee structure, the billing process, or fees owed to Nextlanding,
    p
      | (b) impersonate another person or misrepresent your affiliation with another person,
    p (c) distribute or post spam,
    p (d) infringe on the intellectual property rights of any other party,
    p
      | (e) transmit to Nextlanding in any fashion any information or materials that (i) are libelous, defamatory, obscene,
      | pornographic, abusive, harassing, threatening, tortuous, invasive of another's privacy, hateful, or otherwise
      | objectionable; or (ii) contain any viruses, Trojan horses, worms, or other comparable computer programming routines
      | that are intended to damage, detrimentally interfere with, surreptitiously intercept or expropriate any system, data
      | or personal information.
    p
      | 4.2 If you maintain a user account with Nextlanding in connection with any of its Services, we may terminate this
      | account at any time, for any reason, at our sole discretion.
    p 5. Advertisement or Listing Policy
    p
      | 5.1 Nextlanding is not liable for the legality of information reproduced from advertisements for housing
      | originating form other sources. The originator of these advertisements, such as the landlord, management company, or
      | agent, shall retain liability for assuring that all information provided to and displayed in connection with a
      | listing or advertisement complies with any applicable housing laws. Such laws include but are not limited to:
    p
      | (a) The Fair Housing Act, codified at 42 U.S.C. 3601 etc., and other comparable state laws. Under the Fair Housing
      | Act and comparable laws, statements suggesting a discriminatory preference in renting dwellings are prohibited. For
      | example, with extremely narrow exceptions, it is illegal to state a discriminatory preference with regards to race,
      | color, national origin, religion, sex, familial status, handicap, and disability. Please read the Fair Housing Act
      | for further information, and visit the U.S. Department of Housing and Urban Development
      | (http://www.hud.gov/offices/fheo/index.cfm) or the Department of Justice (http://www.usdoj.gov).
    p 6. Your Password and Security
    p
      | 6.1 You agree and understand that you are solely responsible for maintaining the confidentiality of passwords
      | associated with any account you use to access our Services. We will not give your password out to anyone without you
      | express permission or unless required to do so by law.
    p
      | 6.2 You agree that you will be solely responsible for the activities that occur under your account.
    p 7. Privacy and Your Personal Information
    p
      | 7.1 If your use of our Services requires the creation of a user account, we will store the information you enter in
      | connection with this account. Moreover, if your use of our Services leads to the creation of a “search,” detailing
      | where you desire apartment listing information and your preferences for apartment information, we will store
      | information you input in connection with this activity.
    p
      | 7.2 Depending on the Services you use, we may collect and store the following information:
    p (a) Your name and e-mail address
    p
      | (b) Information, including usage logs, regarding your activity in using our Services;
    p
      | (c) E-mail or other communication logs detailing your communication with us, or your communication with other users
      | of our Services;
    p
      | (d) Statistics such as page views, traffic to and from within our websites, IP addresses and other standard web
      | information;
    p
      | (e) Other supplemental information from third parties obtained in connection with your usage of our Services (for
      | example, credit information if you incur a debt to us and we contact an outside collection agency to secure payment,
      | as permitted by law)
    p
      | 7.3 We may use the information we collect from you, such as the information above, to:
    p (a) Provide our Services to you;
    p (b) Customize your experience with our Services;
    p
      | (c) Facilitate communication between you and us, or between you and other users of this website or third
      | parties;
    p (d) Resolve issues with and improve our technology;
    p (e) Resolves disputes between you and us, or you and other users;
    p
      | (f) Deliver targeted marketing to you, such as promotional offers based on your communication preferences in the
      | form of advertisements on our websites (however, please note that we will not sell or give your e-mail address to
      | any third party for the purposes of providing advertising, or tracking usage, unless required by law. If we use your
      | personal information to market our own Services to you, we will inform you prior to this activity, and provide you
      | with the ability to opt-out of such uses);
    p (g) Help prevent fraud, harassment, or illegal activity;
    p
      | (h) Enforce our rights, the terms of this Terms of Use, or other policies and agreements we may have come to
      | between you and us;
    p
      | (i) Provide additional Services in connection with future agreements between you and us.
    p
      | 7.4 We strive to maintain the security of your personal information and to respect your privacy. In connection with
      | this, we utilize various tools to ensure, as best as possible, that your information is protected from others.
    p
      | 7.5 Our Services uses cookies or web beacons on your computer when you visit certain areas of our websites. These
      | cookies are intended to facilitate your interaction with our Services, such as by saving your account login
      | information to prevent you from having to login to our Services when you visit us. These cookies may also be used to
      | facilitate advertising to you in connection with the use of our Services. We may use other third-party advertising
      | companies to serve ads on our and their behalf. These companies may use cookies and other web beacons in connection
      | with these services.
    p 8. Modification of the Terms of Use
    p
      | 8.1 The Terms of Use may be modified from time to time. When changes are made, a new copy of the Terms of Use will
      | be available at this URL
    p
      | 8.2 You agree that, if you use our Services after the date on which the Terms of Use have been modified,
      | Nextlanding will treat your use as acceptance of the modified Terms of Use.
    p 9. Your Intellectual Property
    p
      | 9.1 If the use of our Services involves the advertising, displaying, or transmitting to us or any party any content
      | to which you or a third party are the owner, including but not limited to images, trademarks, trade names, logos,
      | and service marks, you grant Nextlanding a royalty-free, worldwide license terminable on the termination of this
      | Terms of Use to use this content in the routine execution of our Service. Other than this license, Nextlanding makes
      | no claim of ownership to any of your content. You may authorize us to use your content in a more expansive or
      | different manner and for a longer period of time than that defined in the license, however any such use requires
      | your prior agreement with us.
    p
      | 9.2 By using our Services, you affirm that you are the holder or authorized user of any intellectual or other
      | property rights over this content. You agree to indemnify us from any claims arising out of your violation of
      | another party’s property rights (see provision 15.1).
    p 10. Our Intellectual Property
    p
      | 10.1 The term “Nextlanding” and any trademarks, trade names, logos and service marks, including the Nextlanding
      | logo, site design, and color scheme are the property of Nextlanding, Inc., its successor entities, or other third
      | parties. You may not copy or otherwise use this property without our prior written consent or the consent of such
      | other owner.
    p 11. Reporting Intellectual Property Infringement or Other Violations of Law
    p
      | 11.1 We respect the intellectual property of others and the rule of law. If you believe that your rights have been
      | infringed by content appearing on our website in any form, please e-mail us at info@nextlanding.com. We reserve the
      | right to remove content at any time, for any reason, without prior notice.
    p 12. Refund Policy
    p 12.1 Refunds may be issued under the circumstances detailed in this subsection.
    p
      | 12.2 Nextlanding guarantees the accuracy of the information provided to users via our services. If you find an
      | inaccuracy in apartment information provided to you via our Services that could have been reasonably prevented by
      | us, you are entitled to a full refund of your purchase price. Circumstances in which a full refund will not be
      | granted include:
    p
      | (a) The apartment listed to you becomes unavailable at some time after initiating your search request.
    p
      | (b) The landlord, management company, or agent has intentionally misled Nextlanding by supplying false information
      | despite attempts at verification.
    p
      | (c) The apartment has materially changed its attributes (such as price, for example), at some point after you
      | initiated your search request.
    p
      | 12.3 Nextlanding also guarantees that you are satisfied with the information provided to you. Provided that you
      | have evaluated the information given to you in good faith, Nextlanding will issue a full refund if you are, for
      | whatever reason, dissatisfied with our Services. Nextlanding retains full discretion to deny a refund under this
      | provision if we are convinced that have not evaluated your results in good faith.
    p
      | 12.4 In extraordinary circumstances, other refunds may be issued in our discretion.
    p 13. Termination of this Agreement
    p 13.1 We may terminate our legal agreement with you if:
    p
      | (a) you have breached any provisions of the Terms of Use, or we believe that you intend to breach or are unable to
      | comply with any provisions of the Terms of Use; or
    p (b) we are required to do so by law; or
    p
      | (c) the Services we provide are, in our opinion, no longer technologically feasible or commercially viable.
    p 13.2 You may terminate your legal agreement with us at any time by:
    p
      | (a) discontinuing the use of our Services. If you have a user account with us, you must delete your user account or
      | inform us of your desire to delete your user account to constitute your voluntary discontinuation of our Services,
      | or;
    p
      | (b) manifesting an unequivocal intent to Nextlanding that you wish to terminate this legal Agreement.
    p
      | 13.3 Our voluntary or your voluntary termination of this Agreement shall not in any way impact the rights you have
      | agreed to as detailed in the General Disclaimer, Release, Indemnity, Default and Remedies, Resolution of Legal
      | Issues, and General Legal Terms sections (below). These sections remain in effect, and therefore our protections
      | remain in effect, so long as you or your successors in interest retain the ability to litigate any legal claim you
      | may have against us, or any third party that may in any way implicate or involve us maintains such claims, and so
      | long as you or your successors in interest remain liable for any civil or criminal claim arising out of or in any
      | way implicating us or the use of our Services.
    p 14. General Disclaimer
    p
      | 14.1 We assume no responsibility for the accuracy of information that appears on our websites or is delivered to
      | users via our Services. All information provided on Nextlanding via our Services is provided “as is” with all faults
      | without warranty of any kind, either express or implied. Nextlanding hereby disclaims all warranties, express or
      | implied, including, without limitation, those of merchantability, fitness for a particular purpose, title and
      | noninfringement or arising from a course of dealing, usage or trade practice, as may be applicable, except to the
      | extent such disclaimers are held to be legally invalid.
    p 15. Release
    p
      | 15.1 In the event that you have a dispute with one or more of our users for any reason, you agree to release
      | Nextlanding, and its respective officers, directors, agents, employees, subsidiaries, joint ventures, successor
      | entities, and any other similarly situated affiliated individuals or entities, from claims, demands, damages and
      | remedies of all types, arising in any way out of or in any way connected with the dispute. If such a dispute is
      | adjudicated under laws which limit a general release of this nature, or you are able to claim the protection of
      | these laws in any way, you agree to waive your protections under these laws, to such an extent such a waiver is
      | legally possible.
    p 16. Indemnity
    p
      | 16.1 You agree to indemnify and hold us (and our officers, directors, agents, affiliates, subsidiaries, joint
      | ventures and employees) harmless from any cost, liability, charge, penalties, claim or demand, including attorneys’
      | fees, court costs, and other costs of collection, made by any third party due to or arising out of your breach of
      | this Agreement, or your violation of any law or the rights of a third party; or incurred by us as a result of your
      | default under this Agreement. This includes violations of any applicable law, such as the Fair Housing Act, for
      | which damages or remedies of any kind may be imposed, or any criminal law.
    p 17. Default and Remedies
    p
      | 17.1 In the event that you default under this Agreement we may exercise any or all of the following remedies:
    p
      | (a) Immediately accelerating any payments due to us by you in the future in connection with Services already
      | rendered meaning that such payments will become due immediately on your default;
    p (b) Deleting or disabling your user account;
    p (c) Banning your future use of our Services;
    p
      | (d) Imposing interest on past due amounts equal to the highest rate permitted by law;
    p
      | (e) To the maximum extent permitted by law, imposing, in good faith, past due account fees that represent the
      | administrative or technological burden your default under this Agreement has resulted in;
    p
      | (f) Condition your future use of our Services to different terms than those that appears in this Terms of Use,
      | including special rate increases;
    p
      | (g) Exercising and any all remedies available to us at law and in equity, retaining the right to bring suit at such
      | time and in any forum permitted by law.
    p 18. Resolution of Disputes
    p
      | 18.1 If a dispute between you and Nextlanding should arise, we encourage you to contact us directly via our contact
      | form. We strive to be as user friendly as possible. In the event that the dispute cannot be resolved through
      | discussions, we may consider various forms of alternative dispute resolution at our option or as required by law in
      | lieu of litigation.
    p 19. General Legal Terms
    p
      | 19.1 The Terms of Use and your relationship under these Terms of Use shall be governed by the laws of the State of
      | Delaware without regard to its conflict of law provisions. You and Nextlanding agree that all legal disputes you may
      | bring arising under this Terms of Use shall be submitted to the applicable court of the state courts located within
      | Delaware. Notwithstanding this or other provisions in the Terms of Use, you agree that Nextlanding shall be allowed to
      | initiate suit, alternative dispute resolution proceedings, apply for damages or injunctive remedies or their
      | equivalents, or bring forth any other matter requiring legal or quasi-legal resolution against you arising out of any
      | dispute in any jurisdiction at our discretion.

