.container(ng-controller='SearchWizardCtrl')
  .bs-docs-section
    form(name='searchForm').bs-example.form-horizontal
      .row
        .col-lg-12
          .page-header
            h1#forms Start a Search
      div.row(ng-show="currentStep=='locationStep'")
        .col-lg-6(ng-form='locationStepForm')
          .well
            fieldset
              legend Step 1 - Location
              .form-group
                label.col-lg-2.control-label(for='input-location') Location
                .col-lg-10
                  input#input-location.form-control(type='text', placeholder='City, zip, etc', ng-model='location', required='required')
                  span.help-block
                    | A longer block of help text that breaks onto a new line and may extend beyond one line.
              .form-group
                .col-lg-10.col-lg-offset-2
                  button.btn.btn-primary(ng-disabled='!locationStepForm.$valid', ng-click='proceed()') Next
      div.row(ng-show="currentStep=='geographyStep'")
        .col-lg-6(ng-form='geographyStepForm')
          .well
            fieldset
              legend Step 2 - Description
              .form-group
                label.col-lg-2.control-label(for='txt-description') Description
                .col-lg-10
                  textarea#txt-description.form-control(placeholder='Some stuff....', ng-model='description', required='required')
                  span.help-block
                    | A longer block of help text that breaks onto a new line and may extend beyond one line.
              .form-group
                .col-lg-10.col-lg-offset-2
                  button.btn.btn-warn(ng-click='retreat()') Prev
                  button.btn.btn-primary(ng-disabled='!geographyStepForm.$valid', ng-click='proceed()') Next
      div
        | Validation status:
        div  Whole form valid? {{searchForm.$valid}}
        div  Step1 valid? {{locationStepForm.$valid}}
        div  Step2 valid? {{geographyStepForm.$valid}}
  .row(ng-repeat='apt in apartments')
    h2 {{ apt.address }}
