.container(ng-controller='SearchWizardCtrl')
  .bs-docs-section
    form(name='searchForm').bs-example.form-horizontal
      .row
        .col-lg-12
          .page-header
            h1#forms Start a Search
      ng-include(src="'/_public/js/search/wizard/location-step.html'")
      ng-include(src="'/_public/js/search/wizard/geography-step.html'")
      ng-include(src="'/_public/js/search/wizard/description-step.html'")
      div
        | Validation status:
        div  Whole form valid? {{searchForm.$valid}}
        div  Step1 valid? {{locationStepForm.$valid}}
        div  Step2 valid? {{geographyStepForm.$valid}}
  .row(ng-repeat='apt in apartments')
    h2 {{ apt.address }}
