section.parent-form#general-details-step(ng-show="isCurrentStep('amenityDetailsStep')", ng-form='amenityDetailsStepForm',ng-controller='SearchWizardAmenityDetailsCtrl')
  .page-header
    h1.text-center Step Four: What do you want included?
  .row
    .col-md-4.col-md-offset-3
      .checkbox(ng-repeat="amenity in model.amenities")
        label
          input(
          type='checkbox', value="{{amenity.name}}"
          ng-checked="model.search.search_attrs.amenities.indexOf(amenity.id) > -1"
          ng-click="toggleAmenity(amenity.id)"
          )
          | {{amenity.name}}
