section#contact-step(ng-show="currentStep=='contactStep'", ng-form='contactStepForm')
  .page-header
    h1.text-center Step Five: Let's keep in touch
  .alert.alert-info
    p#search-info-message We need your email address so we can notify your apartments are ready
  .form-group
    label.col-md-2.col-md-offset-2.control-label(for='txt-contact') Email
    .col-md-5
      input#txt-contact.form-control(type='text', placeholder='someone@gmail.com', ng-model='search.search_attrs.contact_email', required='required')
