section.parent-form#contact-step(ng-show="isCurrentStep('contactStep')", ng-form='contactStepForm',ng-controller='SearchWizardContactCtrl')
  .page-header
    h1.text-center Step Five: Let's keep in touch
  .alert.alert-info
    p#search-info-message We'll notify you within 24 hours and provide a unique link to your apartment listings.
  .form-group
    label.col-md-2.col-md-offset-2.control-label(for='txt-contact') Email
      span.required*
    .col-md-5
      input#txt-contact.form-control(type='email', placeholder='someone@gmail.com', ng-model='model.search.search_attrs.email_address', required='required', name='contactEmail')
