div.row(ng-show="currentStep=='geographyStep'")
  .col-lg-6(ng-form='geographyStepForm')
    .well
      fieldset
        legend Step 2 - Geography
        .col-lg-10
          section#map(ng-controller='SearchMapCtrl')
            .map-canvas(ui-map='myMap', ui-options='mapOptions', google-maps-drawabble-map,google-maps-resizable-map,
            ui-event="{'map-polygoncomplete': 'addDesiredHomeArea($event, $params)'}"
            )
          span.help-block
            | A longer block of help text that breaks onto a new line and may extend beyond one line.
        .form-group
          .col-lg-10.col-lg-offset-2
            button.btn.btn-warn(ng-click='retreat()') Prev
            button.btn.btn-primary(ng-disabled='!geographyStepForm.$valid', ng-click='proceed()') Next
