div.row(ng-show="currentStep=='geographyStep'")
  .col-lg-6(ng-form='geographyStepForm')
    .well
      fieldset
        legend Step 2 - Geography
        .form-group
          label.col-lg-2.control-label(for='btn-geography') Geography
          .col-lg-10
            .btn-group
              button#btn-geography.btn.btn-default(type="button") 1
              button.btn.btn-default(type="button") 2
              button.btn.btn-default(type="button") 3
            span.help-block
              | A longer block of help text that breaks onto a new line and may extend beyond one line.
        .form-group
          .col-lg-10.col-lg-offset-2
            button.btn.btn-warn(ng-click='retreat()') Prev
            button.btn.btn-primary(ng-disabled='!geographyStepForm.$valid', ng-click='proceed()') Next
