section.parent-form#location-step(ng-show="isCurrentStep('locationStep')", ng-form='locationStepForm',ng-controller='SearchWizardLocationCtrl')
  .page-header
    h1.text-center Step One: The basics
  .alert.alert-info
    p#search-info-message First, we need to collect some information about where you’re moving.  If you’re not 100% satisfied with the results, we’ll refund your <strong>${{searchPrice}}. </strong>
      a(href='#',
      popover="Nextlanding will collect information necessary to provide you with a custom set of apartment listings. We'll notify you within 24 hours letting you know when your listings are ready.",
      popover-trigger="mouseenter") Read more.
  .form-group
    label.col-lg-4.control-label(for='input-location') Where are you moving?
      span.required*
    .col-lg-4
      .input-group
        input#input-location.form-control(type='text', placeholder='City, zip, etc', ng-model='model.search.search_attrs.specified_location', required,ui-keypress="{enter:'geoLookup($event)'}")
        span.input-group-btn
          button.btn.btn-default(type='button', ng-click="geoLookup($event)",ng-disabled="locationStepForm.$invalid") View on map
      p#map-help.help-block
        strong Reminder:&nbsp;
        | draw on the map to show us approximately where you are looking. You can draw more than one shape.
  section.animate-fade(ng-show='locationEntered')
    .row
      .col-md-offset-1.col-md-10
        section#search-map
          .map-canvas(ui-map='searchMap', ui-options='mapOptions', google-maps-drawabble-map,google-maps-repaintable-map,google-maps-searchable-map,
          ui-event="{'map-polygoncomplete': 'addDesiredHomeArea($event, $params)','map-click': 'removeDesiredHomeArea($event, $params)'}"
          )
