section#location-step(ng-show="currentStep=='locationStep'", ng-form='locationStepForm')
  .page-header
    h1.text-center Step One: The basics
  .alert.alert-info
    p#search-info-message First, we need to collect some information about where you’re moving.  If you’re not 100% satisfied with the results, we’ll refund your <strong>${{searchPrice}}. </strong>
      a(href='#',popover="I appeared on mouse enter!", popover-trigger="mouseenter") Read more.
  .form-group
    label.col-lg-4.control-label(for='input-location') Where are you moving?
    .col-lg-4
      .input-group
        input#input-location.form-control(type='text', placeholder='City, zip, etc', ng-model='search.search_attrs.specified_location', required='required')
        span.input-group-btn
          button.btn.btn-default(type='button') Go!
  p#map-help.help-block.text-center Draw on the map to show us approximately where you are looking.
  .row
    .col-md-offset-1.col-md-10
      section#search-map(ng-controller='SearchMapCtrl')
        .map-canvas(ui-map='searchMap', ui-options='mapOptions', google-maps-drawabble-map,google-maps-repaintable-map,
        ui-event="{'map-polygoncomplete': 'addDesiredHomeArea($event, $params)'}"
        )
