#search-wizard-container
  section.alt-section.clearfix
    #search-wizard-section.container.rounded-light-container(ng-controller='SearchWizardCtrl')
      form(name='searchForm').bs-example.form-horizontal
        ng-include(src="'/_public/js/search/wizard/location-step.html'")
        ng-include(src="'/_public/js/search/wizard/geography-step.html'")
        ng-include(src="'/_public/js/search/wizard/description-step.html'")
        ng-include(src="'/_public/js/search/wizard/payment-step.html'")
        div
          | Validation status:
          div  Whole form valid? {{searchForm.$valid}}
          div  Step1 valid? {{locationStepForm.$valid}}
          div  Step2 valid? {{geographyStepForm.$valid}}
