#search-wizard-container
  #search-wizard-section.container.rounded-light-container.web-app-padding(ng-controller='SearchWizardMainCtrl')
    form(name='searchForm', novalidate).bs-example.form-horizontal.parent-form
      #search-step-section
        ng-include(src="'/_public/js/search/wizard/location-step.html'")
        ng-include(src="'/_public/js/search/wizard/description-step.html'")
        ng-include(src="'/_public/js/search/wizard/general-details-step.html'")
        ng-include(src="'/_public/js/search/wizard/amenity-details-step.html'")
        ng-include(src="'/_public/js/search/wizard/contact-step.html'")
        ng-include(src="'/_public/js/search/wizard/payment-step.html'")
      fieldset#progress-buttons.row(ng-disabled='model.paymentPending')
        .col-md-1.col-md-offset-7
          button.btn.btn-info(ng-click='model.retreat()',type='button',ng-show='model.getCurrentStep() != model.steps[0]') Prev
        .col-md-1
          button.btn.btn-primary(ng-click='model.proceed()',type='submit',ng-disabled='currentStep.form.$invalid')
            span(ng-hide='model.isLastStep()') Next
            span(ng-show='model.isLastStep()') Submit
